body,
button,
input,
select,
optgroup,
textarea,
.wp-block-button__link {
	color: $color__text-main;
	font-family: $font__primary;
	font-size: 16px;
	line-height: $font__line-height-body;
}

@import "headings";
@import "copy";
