$size__site-sidebar: 25%;

$size__site-max-width: 1500px;
$size__site-narrow-width: 900px;

$size__padding-top-and-bottom: 30px;
$size__padding-sides: 30px;
// an extra 5px padding on full width section lines up correctly with the variable above
$size__padding-full-width-section-sides: 35px;